<!DOCTYPE html>
<html>
<head>
	<title>Sample</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet"/> 
	<link href="assets/stylesheets/bootstrap-responsive.css" rel="stylesheet"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/stylesheets/style.css" rel="stylesheet"/> 
	<link href="assets/stylesheets/responsive.css" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-12"> 
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">Climb Education </a>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ABOUT US <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">About Climb</a></li>
										<li><a href="#">Our Philosophy</a></li>
										<li><a href="#">How to Reach</a></li>
										<li><a href="#">Infrastructure</a></li>
										<li><a href=" ">Live Project</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Programs <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Linux Track</a></li>
										<li><a href="#">Windows Track</a></li>
										<li><a href="#">Web Technology</a></li>
										<li><a href="#">Soft Skills</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CAREERS <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Career at Climb</a></li>
										<li><a href="#">ACareer Assistance</a></li>
									</ul>
								</li>
							</ul>
							
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</li>
								<li><a href="#">Register</a></li>
								<!-- <li><a href="#">Logout</a></li> -->
								<!-- login	POPUP start-->
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
									Login
								</button>

								<!-- Modal -->
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">Log in</h4>
											</div>
											<div class="modal-body">
												...
												<div class="form-group">
													<label class="sr-only" for="exampleInputEmail3">Email address</label>
													<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
												</div>
												<div class="form-group">
													<label class="sr-only" for="exampleInputPassword3">Password</label>
													<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
												</div>...

											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-primary">Save changes</button>
											</div>
										</div>
									</div>
								</div>	<!-- popup end -->
							</ul>
						</div>
					</div>
				</nav>

				<!-- bread crumb -->
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">  </a></li>
					<li class="active">user listing</li>
				</ol>
				<!-- close bread crumb -->
				

				<div class="container">
					<div class="navbar">
						<div class="navbar-inner">
							<ul class="nav">
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Link One</a></li>
								<li><a href="#">Link Two</a></li>
								<li><a href="#">Link Three</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="assets/scripts/script.js"></script> 
	<script src="assets/scripts/bootstrap.min.js"></script>   
</body>
</html>
