<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet"/> 
  <link href="assets/stylesheets/bootstrap-responsive.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/stylesheets/style.css" rel="stylesheet"/> 
  <link href="assets/stylesheets/responsive.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <style type="text/css">
      .navbar-brand { max-width: 310px; }
    </style>
</head>
<body>
<div class="container" id="main">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Climb Education </a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ABOUT US <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">About Climb</a></li>
                  <li><a href="#">Our Philosophy</a></li>
                  <li><a href="#">How to Reach</a></li>
                  <li><a href="#">Infrastructure</a></li>
                  <li><a href=" ">Live Project</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Programs <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Linux Track</a></li>
                  <li><a href="#">Windows Track</a></li>
                  <li><a href="#">Web Technology</a></li>
                  <li><a href="#">Soft Skills</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CAREERS <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Career at Climb</a></li>
                  <li><a href="#">ACareer Assistance</a></li>
                </ul>
              </li>
            </ul>
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="exampleInputPassword3">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default">Log in</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      
      <div class="row" id="bigCallout">
        <div class="col-12">
          
          <div class="alert alert-success alert-block fade in" id="successAlert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            
            <h4>Success!</h4>
            <p>You just made this element display by using jQuery. Click the "x" in the top right corner to close this bad boy.</p>
          </div><!-- end alert -->
          
          <!-- Visible only on small devices -->
          <div class="well well-small visible-sm">
            <a href="" class="btn btn-large btn-block btn-default"><span class="glyphicon glyphicon-phone"></span> Give us a call!</a>
          </div><!-- end well-small -->
          
          <div class="well">
            <div class="page-header">
              <h1>A Fancy Header <small>A subheader for extra awesome.</small></h1>
            </div><!-- end page-header -->
            
            <p class="lead">Some solid leading copy will help get your users engaged. Use this area to come up with something real nice. Know what I'm sayin?</p>
            
            <a href="" class="btn btn-large btn-primary" id="alertMe">Click a nice big button</a>
            <a href="" class="btn btn-large btn-link">or a secondary link</a>
          </div><!-- end well -->
          
        </div><!-- end col-12 -->
      </div><!-- end bigCallout -->
      
      
      <div class="row" id="featuresHeading">
        <div class="col-12">
          <h2>More Features</h2>
          <p class="lead">Cornhole kitsch Williamsburg pug bicycle rights vegan. Neutra food truck occupy kitsch sustainable.</p>
        </div><!-- end col-12 -->
      </div><!-- end featuresHeading -->
      
      
      <div class="row" id="features">
        <div class="col-sm-4 feature">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Markup with HTML5</h3>
            </div><!-- end panel-heading -->
            <img src="../Sample/assets/images/Selection_001.png" alt="HTML5" class="img-circle">
            
            <p>90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.</p>
            
            <a href="https://www.udemy.com/build-beautiful-html5-website/" target="_blank" class="btn btn-warning btn-block">Learn to code HTML5</a>
          </div><!-- end panel -->
        </div><!-- end feature -->
        
        <div class="col-sm-4 feature">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Style with CSS3</h3>
            </div><!-- end panel-heading -->
            <img src="../Sample/assets/images/Selection_001.png" alt="CSS3" class="img-circle">
            
            <p>90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.</p>
            
            <a href="https://www.udemy.com/build-beautiful-html5-website/" target="_blank" class="btn btn-danger btn-block">Style it up with CSS3</a>
          </div><!-- end panel -->
        </div><!-- end feature -->
        
        <div class="col-sm-4 feature">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Framework by Bootstrap 3</h3>
            </div><!-- end panel-heading -->
            <img src="../Sample/assets/images/Selection_001.png" alt="Bootstrap 3" class="img-circle">
            
            <p>90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.</p>
            
            <a href="http://getbootstrap.com/" target="_blank" class="btn btn-info btn-block">More Bootstrap</a>
          </div><!-- end panel -->
        </div><!-- end feature -->
      </div><!-- end features -->
      
      
      <div class="row" id="moreInfo">
        <div class="col-sm-6">
          <h3>Neat Tabbable Content</h3>
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
              <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <h4><span class="glyphicon glyphicon-map-marker"></span> Our Location <small>More like our favourite surf spot</small></h4>
                
                <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=waikiki+beach&amp;aq=&amp;sll=19.896766,-155.582782&amp;sspn=8.711424,11.854248&amp;ie=UTF8&amp;hq=&amp;hnear=Waikiki+Beach,+Honolulu,+Hawaii,+United+States&amp;t=m&amp;ll=21.277298,-157.8265&amp;spn=0.015996,0.036478&amp;z=14&amp;output=embed"></iframe>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div><!-- end tab-pane -->
              
              <div class="tab-pane" id="tab2">
                <h4>A Left Floated Picture <small>Using Placehold.it</small></h4>
                
                <img src="../Sample/assets/images/Selection_002.png" class="thumbnail pull-left" alt="Placeholder image">
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
                <hr>
                
                <a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal"><span class="glyphicon glyphicon-hand-up"></span> Click for a Modal Window!</a>
                
                <div class="modal fade" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        
                        <h4 class="modal-title">A Modal Window</h4>
                      </div><!-- end modal-header -->
                      <div class="modal-body">
                        <h4>Text in a modal</h4>
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        
                        <h4>Popovers in a modal</h4>
                        <a href="#" class="btn btn-danger pop" data-toggle="popover" data-placement="top" data-original-title="You clicked it!" data-content="I knew you would.">Don't click this button</a>
                        
                        <h4>Tooltips in a modal</h4>
                        <a href="" data-original-title="Tooltip" rel="tooltip">This link</a> should have a tooltip, and so should <a href="#" data-original-title="Woohoo!" rel="tooltip">this one</a>!
                        
                        <hr>
                        
                        <p><small class="text-muted">PS. This form doesn't do anything. Just a heads up.</small></p>
                        
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-lg-2 control-label" for="inputName">Name</label>
                            <div class="col-lg-10">
                              <input class="form-control" id="inputName" placeholder="Name" type="text">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="col-lg-2 control-label" for="inputEmail">Email</label>
                            <div class="col-lg-10">
                              <input class="form-control" id="inputEmail" placeholder="Email" type="email">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="col-lg-2 control-label" for="inputMessage">Message</label>
                            <div class="col-lg-10">
                              <textarea class="form-control" id="inputMessage" placeholder="Message" rows="3"></textarea>
                              <button class="btn btn-success pull-right" type="submit">Send!</button>
                            </div>
                          </div>
                        </form>
                      </div><!-- end modal-body -->
                      
                      <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button> <button class="btn btn-primary" type="button">Save changes</button>
                      </div><!-- end modal-footer -->
                    </div><!-- end modal-content -->
                  </div><!-- end modal-dialog -->
                </div><!-- end myModal -->
                
              </div><!-- end tab-pane -->
            </div><!-- end tab-content -->
          </div><!-- end tabbable -->
        </div><!-- end col-sm-6 -->
        
        <div class="col-sm-6">
          <h3>Some Text Info</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          
          <h4>A List Group</h4>
          
          <div class="list-group">
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Kale</h4>
              <p class="list-group-item-text">Kale or borecole is a vegetable with green or purple leaves, in which the central leaves do not form a head.</p>
            </a>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Carrots</h4>
              <p class="list-group-item-text">The carrot is a root vegetable, usually orange in colour, though purple, red, white, and yellow varieties exist. It has a crisp texture when fresh.</p>
            </a>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Steel-cut oats</h4>
              <p class="list-group-item-text">Steel-cut oats are whole grain groats which have been cut into pieces. They are commonly used in Scotland and Ireland to make porridge.</p>
            </a>
          </div><!-- list-group -->
          
          <h5>A small heading</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div><!-- end col-sm-6 -->
      </div><!-- end moreInfo -->
      
      <hr>
      
      
    </div><!-- end container -->
    
    <footer class="navbar-inverse">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
          <h6>Copyright &copy; 2013 {name}</h6>
          </div><!-- end col-sm-2 -->
          
          <div class="col-sm-4">
            <h6>About Us</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div><!-- end col-sm-4 -->
          
          <div class="col-sm-2">
            <h6>Navigation</h6>
            <ul class="unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Links</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div><!-- end col-sm-2 -->
          
          <div class="col-sm-2">
            <h6>Follow Us</h6>
            <ul class="unstyled">
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Google Plus</a></li>
            </ul>
          </div><!-- end col-sm-2 -->
          
          <div class="col-sm-2">
            <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by Brad</h6>
          </div><!-- end col-sm-2 -->
        </div><!-- end row -->
      </div><!-- end container -->
    </footer>
  

<script src="assets/scripts/script.js"></script> 
<script src="assets/scripts/bootstrap.min.js"></script>   
</body>
</html>
